{{ define "main" }}
  <!-- Banner -->
  <div class="hero d-flex align-items-center" style = "background-image: url('{{ .Params.bannerimage | absURL }}')">
    <div class = "container text-center">
      <h1 class="display-4"> {{ .Params.bannercontent | markdownify }} </h1>
    </div>
  </div>
  <!-- Volunteer form -->
  <div id = "volunteer-form" class="container col-sm-8 col-md-6 col-lg-4 text-center">
    {{ if site.Data.volunteer.form.enable }}
      {{ with site.Data.volunteer.form }}
        <!-- Embed form -->
        <iframe class="airtable-embed airtable-dynamic-height" src="{{ .embedlink }}" frameborder="0" onmousewheel="" width="100%" height=auto style="background: transparent; border: 1px solid #ccc;"></iframe>
        <br><br>
      {{ end }}
    {{ end }}
  </div>
  <!-- Alternative -->
  <div id = "volunteer-alt" class = "container-fluid">
    <div class = "container text-center">
      {{ if site.Data.volunteer.button.enable }}
        {{ with site.Data.volunteer.button }}
          <!-- Button heading -->
          <h4>{{ .heading }}</h4>
          <br>
          <!-- Button heading -->
          <a class="btn btn-primary" href="{{ .link | absURL }}" role="button">{{ .label }}</a>
        {{ end }}
      {{ end }}
    </div>
  </div>

{{ end }}
