{{ define "main" }}
  <div id = "volunteer" class="container col-sm-10 col-md-8 col-lg-6 text-center">
    {{ if site.Data.volunteer.intro.enable }}
      {{ with site.Data.volunteer.intro }}
        <!-- Title -->
        <h2>{{ .heading }}</h2>
        <br>
        <!-- Displays video -->
        <div class="ratio ratio-16x9">
          <iframe src="{{ .videoURL }}" allowfullscreen></iframe>
        </div>
        <br><br>
        <!-- Section copy -->
        <p>{{ .content }}</p>
        <br><br>
      {{ end }}
    {{ end }}
    <!-- Volunteer form -->
    {{ if site.Data.volunteer.form.enable }}
      {{ with site.Data.volunteer.form }}
        <!-- Form heading -->
        <h4>{{ .heading }}</h4>
        <br>
        <!-- Embed form -->
        <iframe class="airtable-embed airtable-dynamic-height" src="{{ .embedlink }}" frameborder="0" onmousewheel="" width="100%" height=auto style="background: transparent; border: 1px solid #ccc;"></iframe>
        <br><br>
      {{ end }}
    {{ end }}
    <!-- Button -->
    {{ if site.Data.volunteer.button.enable }}
      {{ with site.Data.volunteer.button }}
        <!-- Button heading -->
        <h4>{{ .heading }}</h4>
        <br>
        <!-- Button heading -->
        <a class="btn btn-primary" href="{{ .link }}" role="button">{{ .label }}</a>
      {{ end }}
    {{ end }}
  </div>
{{ end }}
