{{ define "main" }}
<!-- Volunteer signup form -->
<!-- <div class="container col-sm-10 col-md-8 col-lg-6 text-center">
  <h1>Sign up to volunteer</h1>
  <iframe class="airtable-embed airtable-dynamic-height" src="https://airtable.com/embed/shrQsx5mcutuYqehV?backgroundColor=yellow" frameborder="0" onmousewheel="" width="100%" height=auto style="background: transparent; border: 1px solid #ccc;"></iframe>
  <h1>Schedule a physical donation dropoff</h1>
  <iframe class="airtable-embed airtable-dynamic-height" src="https://airtable.com/embed/shrMziN0hOsJCpy6Y?backgroundColor=yellow" frameborder="0" onmousewheel="" width="100%" height="auto" style="background: transparent; border: 1px solid #ccc;"></iframe>
<div> -->
<!-- Accordian -->
{{ if site.Data.volunteer.forms.enable }}
  {{ with site.Data.volunteer.forms }}
    <div class="container col-sm-10 col-md-8 col-lg-6 text-center">
      <div class="accordion" id="accordion">
        {{ range .accordianItem }}
        <div class="accordion-item">
          <h2 class="accordion-header" id="{{ .accordianitemid }}">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#{{ .accordianitemid }}" aria-expanded="false" aria-controls="{{ .accordianitemid }}">
              {{ .accordianheader | markdownify }}
            </button>
          </h2>
          <div id="{{ .accordianitemid }}" class="accordion-collapse collapse show" aria-labelledby="{{ .accordianheader | markdownify }}" data-bs-parent="#accordion">
            <div class="accordion-body">
              <iframe class="airtable-embed" src="{{ .embedlink }}" frameborder="0" onmousewheel="" width="100%" height=500px style="background: transparent; border: 1px solid #ccc;"></iframe>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    <div>
  {{ end }}
{{ end }}
{{ end }}
