{{ define "main" }}

<!-- Banner -->
<div class="hero d-flex align-items-center" style = "background-image: url('{{ .Params.bannerimage | absURL }}')">
  <div class = "container text-center">
    <h1 class="display-4"> {{ .Params.bannercontent | markdownify }} </h1>
  </div>
</div>

<!-- Sponsors -->
<div id = "star-sponsors" class = "container text-center">
  <!-- Star sponsors -->
  <h1 class="display-6">{{ .Params.starsponsorslabel }}</h1>
  <br>
  <div class = "row row-cols-auto justify-content-center align-items-end">
    {{ range sort site.Data.sponsor.starsponsors "name" }}
      <div class="col">
        <a href = "{{ .url }}">
        <img class = "sponsor-images" src="{{ .image | absURL }}">
        </a>
        <h6>{{ .name }}</h6>
      </div>
    {{ end }}
  </div>
</div>

<!-- Other sponsors -->
<div id = "other-sponsors" class = "container text-center">
  <h4>{{ .Params.othersponsorslabel }}</h4>
  <p> {{ .Content }}</p>
</div>

<!-- Sponsor CTA -->
<div id = "sponsor-cta" class = "container-fluid">
  <div class = "container text-center">
    <h4>{{ .Params.ctatext }}</h4>
    <br>
    <a class="btn btn-primary" href="{{ .Params.buttonlink }}" role="button">{{ .Params.buttonlabel }}</a>
  </div>
</div>

{{ end }}
