<footer>
  <div id = "footer-top" class="container-fluid bg-dark text-white text-center">
    <!-- Content row -->
    <div class="container">
      <h1 class="display-6 text-center">Contact</h1>
  		<div class="row align-items-center">
        <!-- Map -->
        <div class="col-lg">
  				<iframe src="{{ site.Data.footer.map.embedsrc }}" allowfullscreen="" width=100% height=100% loading="lazy"></iframe>
  			</div>
        <!-- Address -->
        <div class="col-lg">
					<p class>
            {{ site.Data.footer.address.first }},
            <br>{{ site.Data.footer.address.second }}
            <br>{{ site.Data.footer.phone.number }}
            <br>{{ site.Data.footer.email.address }}
          </p>
          <h2><span>
            <a href="http://www.facebook.com/{{ site.Data.homepage.news.fbname | markdownify}}"><i class="fa fa-facebook-square"></i></a>
            <a href ="https://instagram.com/{{ site.Data.homepage.news.insta | markdownify}}"><i class="fa fa-instagram"></i></a>
            <a href ="http://www.youtube.com/playlist?list={{ site.Data.homepage.news.ytid | markdownify}}"><i class="fa fa-youtube"></i></a>
          </span></h2>
  			</div>
        <!-- Hours -->
  			<div class="col-lg">
  				<p class = "text-lg-end">{{ site.Data.footer.hours | markdownify }}</p>
  			</div>
  		</div>
  	</div>
  </div>
  <!-- Credit -->
	<div class="container-fluid text-center">
		<p>Created by <a href="https://www.goodtrepreneur.com/">Goodtrepreneur</a></p>
	</div>
</footer>
