{{ define "main" }}

<!-- DNS Validation -->
 <meta  name="simpledcver"  content="eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJkb21haW4iOiJuZXdjaGFsbGVuZ2VtaW5pc3RyaWVzLmNvbSIsImV4cCI6MTYxODg3NjgwMH0.Jo2B7PImtRZQb8nOiiH_syMBum4G8I1loJmvOhFSqBA">

<!-- Facebook -->
 <div id="fb-root"></div>
 <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v10.0" nonce="im6O5LTK"></script>

<!-- Banner -->
{{ if site.Data.homepage.banner.enable }}
  {{ with site.Data.homepage.banner }}
    <div class="hero d-flex align-items-center" style = "background-image: url('{{ .image | absURL }}')">
      <div class = "container text-center">
        <h1 class="display-4"> {{ .content | markdownify }} </h1>
        {{ if .button.enable }}
          {{ with .button }}
            <br>
            <a class="btn btn-primary btn-lg" href="{{ .link }}" role="button">{{ .label }}</a>
          {{ end }}
        {{ end }}
      </div>
    </div>
  {{ end }}
{{ end }}

<!-- About section -->
{{ if site.Data.homepage.about.enable }}
  {{ with site.Data.homepage.about }}
    <div id = "about" class = "container">
      <div class="row g-3">
        <div class = "col-sm-2 text-center">
          <img src="{{ .image | absURL }}" class="img-fluid rounded-circle" style="object-fit:contain;" alt="{{ .name | markdownify }}">
        </div>
        <div class = "col-sm-1 align-self-start text-end">
          <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="currentColor" class="bi bi-chat-right-quote" viewBox="0 0 16 16">
            <path d="M2 1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h9.586a2 2 0 0 1 1.414.586l2 2V2a1 1 0 0 0-1-1H2zm12-1a2 2 0 0 1 2 2v12.793a.5.5 0 0 1-.854.353l-2.853-2.853a1 1 0 0 0-.707-.293H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12z"/>
            <path d="M7.066 4.76A1.665 1.665 0 0 0 4 5.668a1.667 1.667 0 0 0 2.561 1.406c-.131.389-.375.804-.777 1.22a.417.417 0 1 0 .6.58c1.486-1.54 1.293-3.214.682-4.112zm4 0A1.665 1.665 0 0 0 8 5.668a1.667 1.667 0 0 0 2.561 1.406c-.131.389-.375.804-.777 1.22a.417.417 0 1 0 .6.58c1.486-1.54 1.293-3.214.682-4.112z"/>
          </svg>
        </div>
        <div class = "col-sm-8 align-self-center">
          <p><i>{{ .content | markdownify }}</i></p>
        </div>
        <div class = "col-sm-1 align-self-end">
          <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="currentColor" class="bi bi-chat-left-quote" viewBox="0 0 16 16">
            <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
            <path d="M7.066 4.76A1.665 1.665 0 0 0 4 5.668a1.667 1.667 0 0 0 2.561 1.406c-.131.389-.375.804-.777 1.22a.417.417 0 1 0 .6.58c1.486-1.54 1.293-3.214.682-4.112zm4 0A1.665 1.665 0 0 0 8 5.668a1.667 1.667 0 0 0 2.561 1.406c-.131.389-.375.804-.777 1.22a.417.417 0 1 0 .6.58c1.486-1.54 1.293-3.214.682-4.112z"/>
          </svg>
        </div>
      </div>
      <br>
      <div class="row g-3 justify-content-center">
        <div class = "col-sm-3"></div>
        <div class = "col-sm-8">
          <p class="blockquote-footer">{{ .name | markdownify }}, <cite title="Source Title">{{ .designation | markdownify }}</cite></p>
        </div>
        <div class = "col-sm-1"></div>
      </div>
    </div>
  {{ end }}
{{ end }}

<!-- Intro video -->
{{ if site.Data.homepage.intro.enable }}
  {{ with site.Data.homepage.intro }}
    <div id ="intro" class = "container-fluid text-center">
      <h1 class="display-6 text-white">{{ .title | markdownify }}</h1>
      <br>
      <div class = "col-sm-6 mx-auto">
        <div class="ratio ratio-16x9">
          <iframe src="{{ .videoURL | safeURL }}" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  {{ end }}
{{ end }}

<!-- Impact section -->
{{ if site.Data.homepage.impact.enable }}
  {{ with site.Data.homepage.impact }}
    <div id ="impact" class = "container text-center">
      <h1 class="display-6">{{ .title | markdownify }}</h1>
      <br>
      <p>{{ .content | markdownify }}</p>
      <br>
      <div class = "row row-cols-auto justify-content-center align-items-end">
        {{ range sort site.Data.homepage.impact.helped "name" }}
          <div class="col">
            <a href = "{{ .url }}">
            <img class = "icon-cloud" src="{{ .image | absURL }}">
            </a>
            <!-- <h6>{{ .name }}</h6> -->
          </div>
        {{ end }}
      </div>
    </div>
  {{ end }}
{{ end }}

<!-- Our story section -->
{{ if site.Data.homepage.story.enable }}
  {{ with site.Data.homepage.story }}
    <div id = "story" class="container-fluid text-center">
      <div class = "container">
        <h1 class="display-6">{{ .title | markdownify }}</h1>
        <br>
        <div class = "row row-cols-auto g-3">
          {{ range sort site.Data.homepage.story.timelineItem "weight" }}
            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="card rounded h-100">
                <div class="card-body p-3">
                  <div class = "square" style = "background-image: url('{{ .image | absURL }}')"></div>
                  <br>
                  <p class="card-text"><small>{{ .text | markdownify }}</small></p>
                </div>
              </div>
            </div>
          {{ end }}
        </div>
      </div>
    </div>
  {{ end }}
{{ end }}

<!-- Testimonials -->
{{ if site.Data.homepage.testimonials.enable }}
  {{ with site.Data.homepage.testimonials }}
    <div id = "testimonials" class="container-fluid">
      <div class = "container text-center">
        <h1 class="display-6">{{ .title | markdownify }}</h1>
        <br>
        {{ range sort site.Data.homepage.testimonials.testimonialItem "weight" }}
        <div class="row g-2">
          <div class="col-md-2 align-self-center text-md-center">
            <img src="{{ .image | absURL }}" class="img-fluid mx-auto my-3 rounded-circle" style="width:100px;" alt="{{ .name | markdownify }}">
          </div>
          <div class = "col-md-10 align-self-center text-md-start">
            <p><i>{{ .content | markdownify }}</i></p>
            <p class="blockquote-footer">{{ .name | markdownify }}, <cite title="Source Title">{{ .designation | markdownify }}</cite></p>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  {{ end }}
{{ end }}

<!-- Call to action -->
{{ if site.Data.homepage.cta.enable }}
  {{ with site.Data.homepage.cta }}
    <div id = "cta" class="container-fluid text-center">
      <div class = "container">
        <h1 class="display-6">{{ .title | markdownify }}</h1>
        <br>
        <div class = "row g-3 justify-content-center">
          <div class="col-sm-4 col-md-3">
            <div class="card h-100">
              <div class="card-body">
                <img src="/images/donatelogo.png" width = 100px height = auto alt="...">
                <h5 class="card-title">Donate</h5>
                <p class="card-text">We are currently looking for cash and food donations.</p>
                <a href="/donate" class="btn btn-primary stretched-link">Donate</a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-md-3">
            <div class="card h-100">
              <div class="card-body">
                <img src="/images/volunteerlogo.png" width = 100px height = auto alt="...">
                <h5 class="card-title">Volunteer</h5>
                <p class="card-text">Check out our volunteer tab for more info.</p>
                <a href="/volunteer" class="btn btn-primary stretched-link">Volunteer</a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-md-3">
            <div class="card h-100">
              <div class="card-body">
                <img src="/images/sponsorlogo.png" width = 100px height = auto alt="...">
                <h5 class="card-title">Sponsor</h5>
                <p class="card-text">Support from our local businesses for both food and funds.</p>
                <a href="/sponsor" class="btn btn-primary stretched-link">Sponsor</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{ end }}
{{ end }}

<!-- Facebook newsfeed -->
{{ if site.Data.homepage.news.enable }}
  {{ with site.Data.homepage.news }}
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v10.0" nonce="tooWYNxO"></script>
    <div id = "news" class="container-fluid  text-center">
      <h1 class="display-6">{{ .title | markdownify }}</h1>
      <br>
      <div class="fb-page" data-href="https://www.facebook.com/{{ .fbname | markdownify }}" data-tabs="timeline" data-width="500" data-height="" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/newchallengeministriesinc" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/newchallengeministriesinc">New Challenge Ministries, Inc.</a></blockquote></div>
    </div>
  {{ end }}
{{ end }}

{{ end }}
