{{ define "main" }}

<!-- Intro video -->
{{ if site.Data.homepage.intro.enable }}
  {{ with site.Data.homepage.intro }}
    <div id = "intro" class = "container">
      <div class="ratio ratio-16x9">
        <iframe src="{{ .videoURL | safeURL }}" allowfullscreen></iframe>
      </div>
    </div>
  {{ end }}
{{ end }}
<!-- About section -->
{{ if site.Data.homepage.about.enable }}
  {{ with site.Data.homepage.about }}
    <div id = "about" class="container text-center">
      <h1 class="display-4">{{ .title | markdownify }}</h1>
      <p>{{ .content | markdownify }}</p>
      {{ if .button.enable }}
        {{ with .button }}
          <br>
          <a class="btn btn-primary btn-lg" href="{{ .link }}" role="button">{{ .label }}</a>
        {{ end }}
      {{ end }}
    </div>
  {{ end }}
{{ end }}
<!-- Our story section -->
{{ if site.Data.homepage.story.enable }}
  {{ with site.Data.homepage.story }}
    <div id = "story" class="container-fluid text-center">
      <div class = "container">
        <h1 class="display-4">{{ .title | markdownify }}</h1>
        <img src="{{ .image | absURL }}" class="client-img" alt="{{ .name | markdownify }}">
        <br><br>
        <p>{{ .content | markdownify }}</p>
        {{ if .button.enable }}
          {{ with .button }}
            <br>
            <a class="btn btn-primary btn-lg" href="{{ .link }}" role="button">{{ .label }}</a>
          {{ end }}
        {{ end }}
      </div>
    </div>
  {{ end }}
{{ end }}
<!-- Testimonials -->
{{ if site.Data.homepage.testimonials.enable }}
  {{ with site.Data.homepage.testimonials }}
    <div id = "testimonials" class="container text-center">
      <h1 class="display-4">{{ .title | markdownify }}</h1>
      <div id="carouseltestimonials" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class = "col-8 mx-auto">
            {{ range (where site.Data.homepage.testimonials.testimonialItem "weight" "eq" 1) }}
            <div class="card text-center">
              <img src="{{ .image | absURL }}" class="class-image-top mx-auto mt-3 rounded-circle" style="width:100px;" alt="{{ .name | markdownify }}">
              <div class="card-body">
                <h6 class="font-weight-medium">{{ .name | markdownify }}</h6>
                <small>{{ .designation | markdownify }}</small>
                <p class="quoted">{{ .content | markdownify }}</p>
              </div>
            </div>
            {{ end }}
          </div>
          </div>
          {{ range (where site.Data.homepage.testimonials.testimonialItem "weight" "ne" 1) }}
            <div class="carousel-item">
              <div class = "col-8 mx-auto">
              <div class="card text-center">
                <img src="{{ .image | absURL }}" class="class-image-top mx-auto mt-3 rounded-circle" style="width:100px;" alt="{{ .name | markdownify }}">
                <div class="card-body">
                  <h6 class="font-weight-medium">{{ .name | markdownify }}</h6>
                  <small>{{ .designation | markdownify }}</small>
                  <p class="quoted">{{ .content | markdownify }}</p>
                </div>
              </div>
            </div>
            </div>
          {{ end }}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouseltestimonials"  data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouseltestimonials"  data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  {{ end }}
{{ end }}
<!-- Call to action -->
{{ if site.Data.homepage.cta.enable }}
  {{ with site.Data.homepage.cta }}
    <div id = "cta" class="container-fluid text-center">
      <div class = "container">
        <h1 class="display-4">{{ .title | markdownify }}</h1>
        <p>{{ .content | markdownify }}</p>
      </div>
      {{ if .button.enable }}
        {{ with .button }}
          <br>
          <a class="btn btn-primary btn-lg" href="{{ .link }}" role="button">{{ .label }}</a>
        {{ end }}
      {{ end }}
    </div>
  {{ end }}
{{ end }}
<!-- Facebook newsfeed -->
{{ if site.Data.homepage.news.enable }}
  {{ with site.Data.homepage.news }}
    <div id = "news" class="container-fluid text-center">
      <h1 class="display-4">{{ .title | markdownify }}</h1>
      <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2F{{ .fbname | markdownify }}&tabs=timeline&width=500&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="500" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
    </div>
  {{ end }}
{{ end }}

{{ end }}
