{{ define "main" }}
<!-- Banner -->
<div class="hero d-flex align-items-center" style = "background-image: url('{{ .Params.bannerimage | absURL }}')">
    <div class = "container text-center">
        <h1 class="display-4"> {{ .Params.bannercontent | markdownify }} </h1>
    </div>
</div>


{{ $scratch := newScratch }}
{{ $scratch.Set "upcoming" "false" }}
{{ $scratch.Set "previous" "false" }}

{{ range (.Pages.ByParam "eventdate").Reverse }}
    {{ if (time .Params.Eventdate).After now }}
        {{ $scratch.Set "upcoming" "true" }}
    {{ end }}

    {{ if (time .Params.Eventdate).Before now }}
        {{ $scratch.Set "previous" "true" }}
    {{ end }}
{{ end }}


{{ if eq ($scratch.Get "upcoming") "true" }}
    <div id = "events" class = "container-fluid text-center">
        <h1 class="display-6 event-header">Upcoming events</h1>
        {{ range (.Pages.ByParam "eventdate").Reverse }}
            {{ if (time .Params.Eventdate).After now }}
                    <div class = "container text-center">
                        <!-- Create card -->
                        <div class="card col-sm-10 col-md-8 col-lg-6 col-xl-4 mx-auto m-3">
                            <!-- Displays video if there is one specified else displays the image -->
                            {{ with .Param "video" }}
                                <div class="ratio ratio-16x9">
                                    <iframe src="{{ . | safeURL}}" allowfullscreen></iframe>
                                </div>
                            {{ else }}
                                <a href="{{.Params.Image | absURL }}" target="_blank" title="{{ .Title }}"><img class = "card-img-top" src="{{.Params.Image | absURL }}" alt="{{ .Title }}"></a>
                            {{ end }}
                            <!-- Establishes card body -->
                            <div class = "card-body">
                            <!-- Title -->
                                <h1 class = "card-title">{{.Title}}</h1>
                                <p><span class="badge bg-primary">Upcoming</span></p>
                                <p class = "card-text">
                                    <!-- Event date -->
                                    {{ with .Param "eventdate" }}
                                        <svg xmlns="http://www.w3.org/2000/svg" width=1em height=1em fill="currentColor" class="bi bi-calendar-event-fill" viewBox="0 0 16 16">
                                            <path d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2zm-3.5-7h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5z"/>
                                        </svg>
                                        {{ dateFormat "Monday, Jan 2, 2006" . }}

                                    {{end}}
                                    <!-- Event time if specified -->
                                    {{ with .Param "starttime" }}
                                        <br>
                                        <svg xmlns="http://www.w3.org/2000/svg" width=1em height=1em fill="currentColor" class="bi bi-clock-fill" viewBox="0 0 16 16">
                                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                                        </svg>
                                        {{.}}
                                    {{end}}
                                    {{ with .Param "endtime" }}
                                         - {{.}}
                                    {{end}}
                                    <!-- Event location if specified -->
                                    {{ with .Param "location" }}
                                        <br>
                                            <svg xmlns="http://www.w3.org/2000/svg" width=1em height=1em fill="currentColor" class="bi bi-map-fill" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.598-.49L10.5.99 5.598.01a.5.5 0 0 0-.196 0l-5 1A.5.5 0 0 0 0 1.5v14a.5.5 0 0 0 .598.49l4.902-.98 4.902.98a.502.502 0 0 0 .196 0l5-1A.5.5 0 0 0 16 14.5V.5zM5 14.09V1.11l.5-.1.5.1v12.98l-.402-.08a.498.498 0 0 0-.196 0L5 14.09zm5 .8V1.91l.402.08a.5.5 0 0 0 .196 0L11 1.91v12.98l-.5.1-.5-.1z"/>
                                            </svg>
                                        {{.}}
                                    {{end}}
                                </p>
                                <!-- Event description -->
                                <p class = "card-text">{{.Content}}</p>
                                <!-- Call to action links -->
                                <div class="d-grid gap-2 d-md-block">
                                    {{ if eq (.Param "signup") true }}<a class="btn btn-primary" href= {{ .Param "signuplink" }} role="button" target="_blank">Sign up</a>{{ end }}
                                    {{ if eq (.Param "buytickets") true }}<a class="btn btn-primary" href= {{ .Param "buyticketslink" }} role="button" target="_blank">Buy tickets</a>{{ end }}
                                    {{ if eq (.Param "donate") true }}<a class="btn btn-outline-primary" href="/donate/" role="button">Donate</a>{{ end }}
                                    {{ if eq (.Param "volunteer") true }}<a class="btn btn-outline-primary" href="/volunteer/" role="button">Volunteer</a>{{ end }}
                                </div>
                            </div>
                        </div>
                    </div>
            {{ end }}
        {{ end }}
    </div>
{{ else }}
    <div id = "events" class = "container-fluid text-center">
        <h1 class="display-6">There are no upcoming events.</h1>
    </div>
{{ end }}

{{ if eq ($scratch.Get "previous") "true"}}
    <div id = "previous-events" class = "container-fluid text-center">
        <h1 class="display-6 event-header">Previous events</h1>
        {{ range (.Pages.ByParam "eventdate").Reverse }}
            {{ if (time .Params.Eventdate).Before now }}
                <div class = "container text-center">
                    <!-- Create card -->
                    <div class="card col-sm-10 col-md-8 col-lg-6 col-xl-4 mx-auto m-3">
                        <!-- Displays video if there is one specified else displays the image -->
                        {{ with .Param "video" }}
                            <div class="ratio ratio-16x9">
                                <iframe src="{{ . | safeURL}}" allowfullscreen></iframe>
                            </div>
                        {{ else }}
                            <img class = "card-img-top" src="{{.Params.Image | absURL }}" alt="{{ .Title }}">
                        {{ end }}
                        <!-- Establishes card body -->
                        <div class = "card-body">
                            <!-- Title -->
                            <h1 class = "card-title">{{.Title}}</h1>

                            <p><span class="badge bg-light text-dark">Past</span></p>
                            <!-- Event description -->
                            <p class = "card-text">{{.Content}}</p>
                        </div>
                    </div>
                </div>
            {{end}}
        {{end}}
    </div>
{{ end }}

{{end}}
