:root {

	/*header styles*/
		/*donate button colours*/
			--donate-bg-colour: #1a237e;
			--donate-hover-colour: var(--donate-bg-colour);
			--donate-active-colour: var(--donate-bg-colour);

		/*logo size*/
			--logo-height: 75px;
			--logo-width: 75px;

		/*header colour*/
			--header-bg: #f8f9fa;

		/*underline style colour*/
			--underline-colour: grey;

}
