// Override Bootstrap here
$primary: #0000ff;

// Bring in Bootstrap
@import "../bootstrap/scss/bootstrap.scss";

// Custom styles
.logo {
	height: 75px;
	width: 75px;
}
#about {
  padding: 10vmin;
}
#story {
  padding: 10vmin;
  background-color: $light;
}
#news {
  padding: 5vmin;
}
#testimonials {
  padding: 10vmin;
  background-color: $light;
}
#cta {
  padding: 10vmin;
}
#events {
  padding-top: 5vh;
	padding-bottom: 5vh;
}
#volunteer {
  padding-top: 5vh;
	padding-bottom: 5vh;
}
#donate {
  padding-top: 5vh;
	padding-bottom: 5vh;
}
