// Override Bootstrap here
$primary: #0000ff;

// Bring in Bootstrap
@import "../bootstrap/scss/bootstrap.scss";

// Custom styles
// @media screen and (max-width: 800px) {
//   .footer-section {
//     display: none !important;
//   }
//   .low-res-address {
//     display: block !important;
//   }
//   .normal-address {
//     display: none !important;
//   }
//   .hours-section {
//     text-align: center !important;
//   }
// }

.logo {
	height: 50px;
	width: 50px;
}
.navbar-text {
  text-transform: uppercase;
  letter-spacing: 1px;
}
.hero {
	background-size: cover;
	background-position: center;
	height: 90vh;
}
.hero .container {
  background-color: rgba(251, 251, 251, 0.7);
	padding: 3rem;
}
#about {
  padding-top: 10vmin;
	padding-bottom: 10vmin;
}
#intro {
  background-color: $dark;
	padding-top: 5vmin;
	padding-bottom: 5vmin;
}
#story {
	padding-top: 5vh;
	padding-bottom: 5vh;
	padding-left: 10vw;
	padding-right: 10vw;
}
#story .square {
	background-size: cover;
	background-position: center;
	padding-bottom:100%;
}
#testimonials {
	padding-top: 5vmin;
	padding-bottom: 5vmin;
  background-color: $light;
}
#cta {
	padding-top: 5vmin;
	padding-bottom: 5vmin;
}
#news {
	padding-top: 5vmin;
	padding-bottom: 5vmin;
  background-color: $light;
}
#events {
  padding-top: 5vmin;
	padding-bottom: 5vmin;
}
#volunteer-form {
  padding-top: 5vh;
	padding-bottom: 5vh;
}
#volunteer-alt {
  padding-top: 5vh;
	padding-bottom: 5vh;
  background-color: $light;
}
#star-sponsors {
  padding-top: 5vh;
	padding-bottom: 5vh;
}
#other-sponsors {
  padding-top: 5vh;
	padding-bottom: 5vh;
}
.sponsor-images {
  width: 150px;
  height: 150px;
  object-fit: contain;
}
#sponsor-cta {
  padding-top: 5vh;
	padding-bottom: 5vh;
  background-color: $light;
}
#donate {
  padding-top: 5vh;
	padding-bottom: 5vh;
}
#donate-alt {
	padding-bottom: 5vh;
}
#footer-top {
  padding-top: 1em;
	padding-bottom: 1em;
}
// .footer-header {
//   padding-top: 25px;
//   padding-bottom: 25px;
// }
// .bold-header {
//   font-weight: bold;
// }
// .footer-trim {
//   overflow-x: hidden;
// }
// .hours-section {
//   word-break: break-word;
//   white-space: pre-line;
//   text-align: right;
// }
// .footer-map {
//   width: 300px;
//   height: 200px;
//   border: 0;
//   float: left;
// }
// .normal-address {
//   display: block;
// }
// .low-res-address {
//   display: none;
// }
// .low-res-address a{
//   color: grey;
// }
// .credit-banner {
//   color: black;
//   background-color: #f8f9fa;
//   text-align: center;
//   font-size: 14px;
// }
