{{ define "main" }}
  <!-- Banner -->
  <div class="hero d-flex align-items-center" style = "background-image: url('{{ .Params.bannerimage | absURL }}')">
    <div class = "container text-center">
      <h1 class="display-4"> {{ .Params.bannercontent | markdownify }} </h1>
    </div>
  </div>


<!-- Donate money -->
{{ if site.Data.donate.donatemoney.enable }}
  {{ with site.Data.donate.donatemoney }}
    <div id = "donate" class="container col-sm-10 col-md-8 col-lg-6 text-center">
      <h2>{{ .heading }}</h2>
      <br>
      <img src="{{ .paymentmethods | absURL }}" style="height:50px;">
      <br><br>
      <a class="btn btn-primary btn-lg" href="{{ .buttonlink }}" role="button" target="_blank">{{ .buttonlabel }}</a>
      <p><br>or<br></p>
      <img src="/images/paypal.jpg" height = 50px height = auto alt="...">
      <br><br>
      <form action="https://www.paypal.com/donate" method="post" target="_top">
      <input type="hidden" name="hosted_button_id" value="DB3VBMEV33JMQ" />
      <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
      <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
      </form>
    </div>
  {{ end }}
{{ end }}

<!-- Alternatives -->
{{ if site.Data.donate.alternatives.enable }}
  {{ with site.Data.donate.alternatives }}
    <div id = "donate-alt" class="container col-sm-10 col-md-8 col-lg-6 text-center">
      <h2>{{ .heading }}</h2>
      <br>
      <div class="accordion" id="accordionExample">
       <div class="accordion-item">
         <h2 class="accordion-header" id="headingOne">
           <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
             Donate goods
           </button>
         </h2>
         <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
           <div class="accordion-body">
             <iframe class="airtable-embed" src="{{ site.Data.donate.donategoods.embedlink }}" frameborder="0" onmousewheel="" width="100%" height="1500px" style="background: transparent; border: 1px solid #ccc;"></iframe>
           </div>
         </div>
       </div>
       <div class="accordion-item">
         <h2 class="accordion-header" id="headingTwo">
           <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
             Donate time
           </button>
         </h2>
         <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
           <div class="accordion-body">
             {{ site.Data.donate.donatetime.subheading }}
             <br>
             <a class="btn btn-primary" href="{{ site.Data.donate.donatetime.link | absURL }}" role="button">{{ site.Data.donate.donatetime.label }}</a>

           </div>
         </div>
       </div>
      </div>
    </div>
  {{ end }}
{{ end }}

{{ end }}
